*:focus {
    outline: none;
}

*::-moz-focus-inner {
    border: none;
}

div.frame01TopSpace{
    margin-top:15px;
    font-family:Verdana, Bitstream Vera Sans;
    background-image:url(/data/web_interface/user_01/img/frame_01_top.png);
    background-repeat:no-repeat;
    height:10px;
    width:855px;
    overflow: hidden;
}

div.frame01Middle{
    font-family:Verdana, Bitstream Vera Sans;
    display:table;
    background-image:url(/data/web_interface/user_01/img/frame_01_middle.png);
    background-repeat:repeat;
    height:1px;
    width:855px;
}

div.frame01Sep{
    font-family:Verdana, Bitstream Vera Sans;
    display:table;
    background-image:url(/data/web_interface/user_01/img/frame_01_sep.png);
    background-repeat:repeat;
    height:4px;
    width:855px;
}

div.frame01Bottom{
    margin-top:0px;
    font-family:Verdana, Bitstream Vera Sans;
    background-image:url(/data/web_interface/user_01/img/frame_01_bottom.png);
    background-repeat:no-repeat;
    height:20px;
    width:855px;
    overflow: hidden;
}

.toolsBtnTitle{
    width:56px;
    _width:72px;
    height:34px;
    padding-left:16px;
    padding-top:-1px;
    margin-left:0px;
    margin-top:2px;
    display:table;
    float:left;
    line-height:34px;
    font-size:10px;
    color:#FFFFFF;
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
    overflow:hidden;
    text-decoration:none;
    font-family:Verdana, Bitstream Vera Sans;
}

.toolsBtnStartEnable{
    width:59px;
    _width:72px;
    padding-left:13px;
    background-image:url(/data/web_interface/user_01/img/gadgets_btn_play_enable.png);
}

.toolsBtnStartEnable:hover{
    background-image:url(/data/web_interface/user_01/img/gadgets_btn_play_activate.png);
}

.toolsBtnStartActivate{
    width:59px;
    _width:72px;
    padding-left:13px;
    background-image:url(/data/web_interface/user_01/img/gadgets_btn_play_activate.png);
}

.toolsBtnStartDisable{
    width:59px;
    _width:72px;
    padding-left:13px;
    background-image:url(/data/web_interface/user_01/img/gadgets_btn_play_disable.png);
}

.leightbox {
	color: #333;
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 1em;
	border: 1em solid #B8B8B8;
	background-color: white;
	text-align: left;
	z-index:1001;
	overflow: auto;
}

#overlay{
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	width:855px;
	height:535px;
	z-index:1000;
	background-color:#000000;
	-moz-opacity: 0.7;
	opacity:.70;
	filter: alpha(opacity=70);
}

.lightbox[id]{ /* IE6 and below Can't See This */    position:fixed;    }#overlay[id]{ /* IE6 and below Can't See This */    position:fixed;    }
